**.vscode/
build
**/CMakeFiles
**/cmake_install.cmake
ricardian
**/Makefile
**/CMakeCache.txt
msig_project-prefix
**/*.wasm
**/.nyc*
**/.nyc_output/**
node_modules
package-lock.json
old_data
perm_main.json
readiness.txt
**.DS_Store
.DS_Store
eosc-vault.json
commands.txt
tests
test_deploy.json
test_deploy2.json